@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @for (int x = 1; x < 8; x++)
    {

        <div class="card" style="width: 18rem; margin-bottom: 30px;">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25381/images.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Movie title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    }
</div>

